body{
    display: grid;
    place-items: center;
    height: 100vh;
}
table{
    border-collapse: collapse;
}
td{
    padding: 10px 20px;
   
}
tr:hover{
    transition: 0.3s;
    transform: scale(1.07);
    cursor: pointer;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0px 0px 10px #e4e4e4;
    transition: 0.3s;
    cursor: pointer;
}
.row{
    border-radius: 10px;
    margin-top: 30px;
    
    transition: 0.3s;
    cursor: pointer;
}
.btn button{
    width: 100px;
    height: 20px;
    background-color: green;
    color:#fff;
    border: none;
    border-radius: 10px;
}
.btn2 button{
    width: 100px;
    height: 20px;
    background-color: orangered;
    color:#fff;
    border: none;
    border-radius: 10px;
}
.btn3 button{
    width: 100px;
    height: 20px;
    background-color: rgb(247, 11, 247);
    color:#fff;
    border: none;
    border-radius: 10px;
}
div{
    display: flex;
}
.logo{
    width: 20px;
    height: 20px;
}